<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ResetPasswordUrl" value="#" />
      <add key="ServerApi" value="http://192.168.1.112:44353" />
      <add key="LoginUrl" value="/api/Account/Login" />      
      <add key="ListOrderTableUrl" value="/api/Table/Gets" />
      <add key="BillByIdTableUrl" value="/api/Bill/GetByIdTable/{0}" />      
      <add key="DetailBillByIdBillUrl" value="/api/BillDetail/GetsByIdBill/{0}"/>
      <add key="UpdateQuanityBillUrl" value="/api/Bill/Edit"/>
      <add key="UpdateStatusTableUrl" value="/api/Table/Edit"/>
      <add key="UpdateQuanityBillDetailUrl" value="/api/BillDetail/Edit"/>

    </appSettings>
  
  
</configuration>