<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResetPasswordUrl" value="#" />
    <add key="ServerApi" value="https://localhost:44353" />
    <add key="LoginUrl" value="/api/Account/Login" />
    <add key="SchoolUrl" value="/api/School/FindSchool" />
    <add key="ClassOfSchoollUrl" value="/api/School/FindClassOfSchool/{0}" />
    <add key="StudentUrl" value="/api/School/FindStudent?page={0}&amp;limit={1}&amp;key={2}&amp;schoolId={3}&amp;classOfSchoolId={4}&amp;status={5}" />
    <add key="StudentByIdUrl" value="/api/School/GetStudentById/{0}" />
    <add key="StudentUpdate" value="/api/School/StudentUpdate" />
    <add key="StudentCreate" value="/api/School/StudentCreate" />
    <add key="StudentDelete" value="/api/School/StudentDelete/{0}" />
    <add key="StudentDelete" value="/api/School/StudentDelete/{0}" />
    <add key="StudentFingerPrints" value="/api/School/StudentFingerPrints" />
    <add key="StudentByFinger" value="/api/School/StudentByFinger/{0}" />
    <add key="StudentUpdateFinger" value="/api/School/StudentUpdateFinger?studentId={0}&amp;stt={1}&amp;template={2}" />
    <add key="IsLoginUrl" value="/api/IsLogin" />
    <add key="UserInfo" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>