@inject Microsoft.Extensions.Options.IOptions<TN.Domain.Model.BaseSettings> _baseSettings
@{
    ViewData["Title"] = "Bản đồ";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1 style="text-align:center;margin-top:20px;margin-bottom:30px;font-size:24px;">HỆ THỐNG QUẢN LÝ HỌC SINH ĐI XE</h1>
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-blue">
                <i class="material-icons">location_city</i>
            </div>
            <div class="content">
                <div class="text">Số lượng đơn vị</div>
                <div class="number">47</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-blue">
                <i class="material-icons">directions_car</i>
            </div>
            <div class="content">
                <div class="text">Số lượng xe</div>
                <div class="number">3959</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-cyan">
                <i class="material-icons">gps_fixed</i>
            </div>
            <div class="content">
                <div class="text">Số lượng tuyến</div>
                <div class="number">4</div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-amber">
                <i class="material-icons">group</i>
            </div>
            <div class="content">
                <div class="text">Số lượng trường</div>
                <div class="number">151</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-indigo">
                <i class="material-icons">school</i>
            </div>
            <div class="content">
                <div class="text">Số lượng học sinh</div>
                <div class="number">536</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-pink">
                <i class="material-icons">poll</i>
            </div>
            <div class="content">
                <div class="text">Số lượng học sinh điểm danh</div>
                <div class="number">419</div>
            </div>
        </div>
    </div>
</div>